apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: loki-operator

resources:
  - https://github.com/grafana/loki/raw/refs/tags/operator/v0.9.0/operator/config/overlays/community/kustomization.yaml
  - resources/namespace.yaml
