apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: loki-operator

resources:
  - https://github.com/grafana/loki/raw/refs/heads/main/operator/config/overlays/community
  - resources/namespace.yaml
