apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: loki-operator

resources:
  - https://github.com/grafana/loki//operator/config/overlays/community/?ref=operator/v0.9.0
  - ./resources/namespace.yaml
