apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: loki-operator

resources:
  - https://github.com/grafana/loki/raw/refs/tags/operator/v0.9.0/operator/config/crd
  - https://github.com/grafana/loki/raw/refs/tags/operator/v0.9.0/operator/config/rbac
  - https://github.com/grafana/loki/raw/refs/tags/operator/v0.9.0/operator/config/manager
  - https://github.com/grafana/loki/raw/refs/tags/operator/v0.9.0/operator/config/webhook
  - https://github.com/grafana/loki/raw/refs/tags/operator/v0.9.0/operator/config/certmanager
  - ./resources/namespace.yaml

namePrefix: loki-operator-

labels:
  - includeSelectors: true
    pairs:
      app.kubernetes.io/managed-by: operator-lifecycle-manager
      app.kubernetes.io/name: loki-operator
      app.kubernetes.io/part-of: loki-operator
  - pairs:
      app.kubernetes.io/instance: loki-operator-v0.9.0
      app.kubernetes.io/version: 0.9.0

generatorOptions:
  disableNameSuffixHash: true

configMapGenerator:
  - files:
      - https://github.com/grafana/loki/raw/refs/tags/operator/v0.9.0/operator/config/overlays/community/controller_manager_config.yaml
    name: manager-config

images:
  - name: controller
    newName: docker.io/grafana/loki-operator
    newTag: 0.9.0

patches:
  - path: https://github.com/grafana/loki/raw/refs/tags/operator/v0.9.0/operator/config/overlays/community/manager_auth_proxy_patch.yaml
  - path: https://github.com/grafana/loki/raw/refs/tags/operator/v0.9.0/operator/config/overlays/community/manager_related_image_patch.yaml
  - path: https://github.com/grafana/loki/raw/refs/tags/operator/v0.9.0/operator/config/overlays/community/manager_resource_reqs_patch.yaml
  - path: https://github.com/grafana/loki/raw/refs/tags/operator/v0.9.0/operator/config/overlays/community/manager_run_flags_patch.yaml
  - path: https://github.com/grafana/loki/raw/refs/tags/operator/v0.9.0/operator/config/overlays/community/manager_webhook_patch.yaml
  - path: https://github.com/grafana/loki/raw/refs/tags/operator/v0.9.0/operator/config/overlays/community/webhookcainjection_patch.yaml
replacements:
  - source:
      kind: Certificate
      group: cert-manager.io
      version: v1
      name: serving-cert
      fieldPath: .metadata.namespace
    targets:
      - select:
          kind: ValidatingWebhookConfiguration
        fieldPaths:
          - .metadata.annotations.[cert-manager.io/inject-ca-from]
        options:
          delimiter: "/"
          index: 0
          create: true
      - select:
          kind: MutatingWebhookConfiguration
        fieldPaths:
          - .metadata.annotations.[cert-manager.io/inject-ca-from]
        options:
          delimiter: "/"
          index: 0
          create: true
      - select:
          kind: CustomResourceDefinition
        fieldPaths:
          - .metadata.annotations.[cert-manager.io/inject-ca-from]
        options:
          delimiter: "/"
          index: 0
          create: true
  - source:
      kind: Certificate
      group: cert-manager.io
      version: v1
      name: serving-cert
      fieldPath: .metadata.name
    targets:
      - select:
          kind: ValidatingWebhookConfiguration
        fieldPaths:
          - .metadata.annotations.[cert-manager.io/inject-ca-from]
        options:
          delimiter: "/"
          index: 1
          create: true
      - select:
          kind: MutatingWebhookConfiguration
        fieldPaths:
          - .metadata.annotations.[cert-manager.io/inject-ca-from]
        options:
          delimiter: "/"
          index: 1
          create: true
      - select:
          kind: CustomResourceDefinition
        fieldPaths:
          - .metadata.annotations.[cert-manager.io/inject-ca-from]
        options:
          delimiter: "/"
          index: 1
          create: true
  - source:
      kind: Service
      version: v1
      name: webhook-service
      fieldPath: .metadata.name
    targets:
      - select:
          kind: Certificate
          group: cert-manager.io
          version: v1
        fieldPaths:
          - .spec.dnsNames.0
          - .spec.dnsNames.1
        options:
          delimiter: "."
          index: 0
          create: true
  - source:
      kind: Service
      version: v1
      name: webhook-service
      fieldPath: .metadata.namespace
    targets:
      - select:
          kind: Certificate
          group: cert-manager.io
          version: v1
        fieldPaths:
          - .spec.dnsNames.0
          - .spec.dnsNames.1
        options:
          delimiter: "."
          index: 1
          create: true
