apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: miniflux

resources:
  - ./resources/deployment.yaml
  - ./resources/ingress.yaml
  - ./resources/materia-postgresql-password.yaml
  - ./resources/miniflux-secrets.yaml
  - ./resources/namespace.yaml
  - ./resources/postgresql.yaml
  - ./resources/service.yaml
  - ./resources/tls.yaml

configMapGenerator:
  - name: config
    envs:
      - ./config/config.env
