apiVersion: v1
kind: Service

metadata:
  name: external-dns

spec:
  selector:
    app.kubernetes.io/name: external-dns
  type: ClusterIP
  ipFamilies:
    - IPv4
    - IPv6
  ipFamilyPolicy: RequireDualStack
  ports:
    - name: http
      port: 7979
      protocol: TCP
      targetPort: http
