apiVersion: v1
kind: Service

metadata:
  name: external-dns
  namespace: external-dns

spec:
  selector:
    app.kubernetes.io/instance: external-dns
    app.kubernetes.io/name: external-dns
  type: NodePort
  ipFamilies:
    - IPv4
    - IPv6
  ipFamilyPolicy: RequireDualStack
  ports:
    - name: http
      port: 7979
      protocol: TCP
      targetPort: http
