apiVersion: monitoring.coreos.com/v1
kind: Prometheus

metadata:
  name: prometheus

spec:
  enableOTLPReceiver: true
  scrapeInterval: 15s
  storage:
    volumeClaimTemplate:
      spec:
        storageClassName: beryllium-nfs
        resources:
          requests:
            storage: 30Gi
  retention: 30d
  evaluationInterval: 30s
