apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: cilium
    releaseName: cilium
    namespace: kube-system
    version: 1.18.3
    repo: https://helm.cilium.io
    includeCRDs: true
    valuesFile: ./values.yaml
# patches:
#   - path: ./patches/hubble-peer-svc.yaml
