apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: 1password

helmCharts:
  - name: connect
    releaseName: connect
    namespace: 1password
    version: "2.2.1"
    repo: https://1password.github.io/connect-helm-charts
    includeCRDs: true
    valuesInline:
      operator:
        autoRestart: true
        create: true

resources:
  - ./resources/namespace.yaml
  - ./resources/onepassword-token.yaml
  - ./resources/op-credentials.yaml
