apiVersion: v1
kind: Service

metadata:
  labels:
    run: haproxy-ingress
  name: haproxy-kubernetes-ingress
  namespace: haproxy-controller

spec:
  selector:
    run: haproxy-ingress
  type: NodePort
  ipFamilies:
    - IPv4
    - IPv6
  ipFamilyPolicy: RequireDualStack
  ports:
    - name: http
      nodePort: 80
      port: 80
      protocol: TCP
      targetPort: 8080
    - name: https
      nodePort: 443
      port: 443
      protocol: TCP
      targetPort: 8443
    - name: stat
      port: 1024
      protocol: TCP
      targetPort: 1024
