apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: external-dns
    releaseName: external-dns
    namespace: external-dns
    version: 1.20.0
    repo: https://kubernetes-sigs.github.io/external-dns/
    includeCRDs: true
    valuesFile: ./values.yaml

resources:
  - ./resources/cloudflare-api-key.yaml
  - ./resources/monitor.yaml
  - ./resources/namespace.yaml

patches:
  - path: ./patches/cluster-role-binding.yaml
