apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: mastodon

resources:
  - ./resources/cronjob-media-remove.yaml
  - ./resources/cronjob-previewcards-remove.yaml
  - ./resources/deployment-sidekiq.yaml
  - ./resources/deployment-streaming.yaml
  - ./resources/deployment-web.yaml
  - ./resources/elasticsearch.yaml
  - ./resources/ingress.yaml
  #- ./resources/job-deploy-search.yaml
  #- ./resources/job-migration.yaml
  - ./resources/mastodon-secrets.yaml
  - ./resources/monitor-elasticsearch.yaml
  - ./resources/monitor-postgresql.yaml
  - ./resources/monitor-redis.yaml
  - ./resources/monitor-streaming.yaml
  - ./resources/namespace.yaml
  - ./resources/otelcol.yaml
  - ./resources/postgresql.yaml
  - ./resources/redis.yaml
  - ./resources/service-streaming.yaml
  - ./resources/service-web.yaml
  - ./resources/tls.yaml

configMapGenerator:
  - name: config
    envs:
      - ./config/config.env
