apiVersion: apps/v1
kind: Deployment

metadata:
  name: mastodon-web

spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - image: ghcr.io/mastodon/mastodon:v4.5.3
          name: mastodon-web
          ports:
            - name: http
              containerPort: 3000
            - name: metrics
              containerPort: 9394
          command:
            [
              "bash",
              "-c",
              "rm -f /mastodon/tmp/pids/server.pid; bundle exec rails s -b [::] -p 3000",
            ]
          env:
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: postgresql-app
                  key: host
            - name: DB_PORT
              valueFrom:
                secretKeyRef:
                  name: postgresql-app
                  key: port
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: postgresql-app
                  key: dbname
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: postgresql-app
                  key: username
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: postgresql-app
                  key: password
          envFrom:
            - configMapRef:
                name: config
            - secretRef:
                name: mastodon-secrets
          livenessProbe:
            tcpSocket:
              port: http
          readinessProbe:
            httpGet:
              path: /health
              port: http
          startupProbe:
            httpGet:
              path: /health
              port: http
            initialDelaySeconds: 15
            failureThreshold: 30
            periodSeconds: 5
