apiVersion: apps/v1
kind: Deployment

metadata:
  name: mastodon-sidekiq

spec:
  replicas: 1
  selector:
    matchLabels:
      app: sidekiq
  template:
    metadata:
      labels:
        app: sidekiq
    spec:
      containers:
        - image: ghcr.io/mastodon/mastodon:v4.5.3
          name: mastodon-sidekiq
          command: ["bundle", "exec", "sidekiq"]
          envFrom:
            - configMapRef:
                name: config
            - secretRef:
                name: mastodon-secrets
          readinessProbe:
            failureThreshold: 10
            exec:
              command:
                - cat
                - /opt/mastodon/tmp/sidekiq_process_has_started_and_will_begin_processing_jobs
            initialDelaySeconds: 10
            periodSeconds: 2
            successThreshold: 1
            timeoutSeconds: 1
