apiVersion: apps/v1
kind: Deployment

metadata:
  name: mastodon-streaming

spec:
  replicas: 1
  selector:
    matchLabels:
      app: streaming
  template:
    metadata:
      labels:
        app: streaming
    spec:
      containers:
        - image: ghcr.io/mastodon/mastodon-streaming:v4.5.3
          name: mastodon-streaming
          ports:
            - name: streaming
              containerPort: 4000
          command: ["node", "./streaming"]
          env:
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: postgresql-app
                  key: host
            - name: DB_PORT
              valueFrom:
                secretKeyRef:
                  name: postgresql-app
                  key: port
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: postgresql-app
                  key: dbname
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: postgresql-app
                  key: username
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: postgresql-app
                  key: password
          envFrom:
            - configMapRef:
                name: config
            - secretRef:
                name: mastodon-secrets
          livenessProbe:
            httpGet:
              path: /api/v1/streaming/health
              port: streaming
          readinessProbe:
            httpGet:
              path: /api/v1/streaming/health
              port: streaming
          startupProbe:
            httpGet:
              path: /api/v1/streaming/health
              port: streaming
            initialDelaySeconds: 5
            failureThreshold: 15
            periodSeconds: 5
