apiVersion: apps/v1
kind: Deployment

metadata:
  name: mastodon-sidekiq

spec:
  replicas: 1
  selector:
    matchLabels:
      app: sidekiq
  template:
    metadata:
      labels:
        app: sidekiq
    spec:
      containers:
        - image: ghcr.io/mastodon/mastodon:v4.5.6
          name: mastodon-sidekiq
          ports:
            - name: metrics
              containerPort: 9394
          command: ["bundle", "exec", "sidekiq"]
          env:
            - name: DB_HOST
              valueFrom:
                secretKeyRef:
                  name: postgresql-app
                  key: host
            - name: DB_PORT
              valueFrom:
                secretKeyRef:
                  name: postgresql-app
                  key: port
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: postgresql-app
                  key: dbname
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: postgresql-app
                  key: username
            - name: DB_PASS
              valueFrom:
                secretKeyRef:
                  name: postgresql-app
                  key: password
            - name: OTEL_RESOURCE_ATTRIBUTES
              value: k8s.pod.ip=${env:MY_POD_IP}
            - name: MY_POD_IP
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: status.podIP
          envFrom:
            - configMapRef:
                name: config
            - secretRef:
                name: mastodon-secrets
          readinessProbe:
            failureThreshold: 10
            exec:
              command:
                - cat
                - /opt/mastodon/tmp/sidekiq_process_has_started_and_will_begin_processing_jobs
            initialDelaySeconds: 10
            periodSeconds: 2
            successThreshold: 1
            timeoutSeconds: 1
