apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: authentik

helmCharts:
  - name: authentik
    releaseName: authentik
    namespace: authentik
    version: "2026.2.0"
    repo: https://charts.goauthentik.io
    valuesFile: ./values.yaml

resources:
  - ./resources/ggrel-net-tls.yaml
  - ./resources/namespace.yaml
  - ./resources/postgresql.yaml
  - ./resources/secret-authentik.yaml
