global:
  env:
    - name: AUTHENTIK_POSTGRESQL__HOST
      valueFrom:
        secretKeyRef:
          name: postgresql-app
          key: host
    - name: AUTHENTIK_POSTGRESQL__USER
      valueFrom:
        secretKeyRef:
          name: postgresql-app
          key: user
    - name: AUTHENTIK_POSTGRESQL__PASSWORD
      valueFrom:
        secretKeyRef:
          name: postgresql-app
          key: password
    - name: AUTHENTIK_POSTGRESQL__NAME
      valueFrom:
        secretKeyRef:
          name: postgresql-app
          key: dbname

authentik:
  existingSecret:
    secretName: authentik

server:
  ingress:
    enabled: true
    annotations:
      external-dns.alpha.kubernetes.io/hostname: auth.ggrel.net
      external-dns.alpha.kubernetes.io/managed: "true"
    hosts:
      - auth.ggrel.net
    tls:
      - secretName: ggrel-net-tls
        hosts:
          - auth.ggrel.net
