apiVersion: apps/v1
kind: Deployment

metadata:
  name: deployment

spec:
  replicas: 1
  selector:
    matchLabels:
      app: default
  template:
    metadata:
      labels:
        app: default
    spec:
      containers:
        - image: docker.io/miniflux/miniflux:2.2.17
          name: miniflux
          ports:
            - name: http
              containerPort: 8080
          envFrom:
            - configMapRef:
                name: config
            - secretRef:
                name: miniflux-secrets
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: postgresql-app
                  key: uri
          livenessProbe:
            httpGet:
              path: /healthcheck
              port: http
            initialDelaySeconds: 10
