apiVersion: apps/v1
kind: Deployment

metadata:
  name: deployment

spec:
  replicas: 1
  selector:
    matchLabels:
      app: default
  template:
    metadata:
      labels:
        app: default
    spec:
      containers:
        - name: app
          image: docker.io/library/teamspeak:3.13
          env:
            - name: TZ
              value: Asia/Tokyo
            - name: TS3SERVER_LICENSE
              value: accept
          ports:
            - containerPort: 9987
              protocol: UDP
            - containerPort: 10011
            - containerPort: 30033
          volumeMounts:
            - name: data
              mountPath: /var/ts3server
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: data
      restartPolicy: Always
